## DB connection and base tables overview

In [1]:
import pandas as pd
import os
from tqdm import tqdm

In [2]:
DATA_PATH = "../data/"
POSTS_DATA = "posts_info.csv"
USER_DATA = "user_info.csv"
FEED_DATA = "feed_info.csv"
USERS_STATS = "users_stats.csv"

conn = "postgresql://robot-startml-ro:pheiph0hahj1Vaif@postgres.lab.karpov.courses:6432/startml"

In [3]:
os.listdir(DATA_PATH)

['user_info.csv',
 'feed_data',
 'feed_info.csv',
 'posts_info.csv',
 'users_stats.csv']

### Users data

In [4]:
if USER_DATA not in os.listdir(DATA_PATH):
    query = "SELECT * FROM public.user_data"
    user_info = pd.read_sql(sql=query, con=conn)
    user_info.to_csv(f"{DATA_PATH}{USER_DATA}")

else:
    user_info = pd.read_csv(f"{DATA_PATH}{USER_DATA}")

user_info.head()

   user_id  gender  age country               city  exp_group       os source
0      200       1   34  Russia          Degtyarsk          3  Android    ads
1      201       0   37  Russia             Abakan          0  Android    ads
2      202       1   17  Russia           Smolensk          4  Android    ads
3      203       0   18  Russia             Moscow          1      iOS    ads
4      204       0   36  Russia  Anzhero-Sudzhensk          3  Android    ads

### Posts data

In [5]:
if POSTS_DATA not in os.listdir(DATA_PATH):
    query = "SELECT * FROM public.post_text_df"
    posts_info = pd.read_sql(sql=query, con=conn)
    posts_info.to_csv(f"{DATA_PATH}{POSTS_DATA}")
    
else:
    posts_info = pd.read_csv(f"{DATA_PATH}{POSTS_DATA}")

posts_info.head()

   post_id                                               text     topic
0        1  UK economy facing major risks\n\nThe UK manufa...  business
1        2  Aids and climate top Davos agenda\n\nClimate c...  business
2        3  Asian quake hits European shares\n\nShares in ...  business
3        4  India power shares jump on debut\n\nShares in ...  business
4        5  Lacroix label bought by US firm\n\nLuxury good...  business

### Feed data

The table `feed_data` is may be too large to read it using `pd.read_sql` in RAM:

In [6]:
query = "SELECT COUNT(*) FROM public.feed_data"
count_feed_data = pd.read_sql(sql=query, con=conn)
count_feed_data

      count
0  76892800

Lets get 1 million rows:

In [7]:
if FEED_DATA not in os.listdir(DATA_PATH):
    query = "SELECT * FROM public.feed_data LIMIT 1000000"
    feed_data = pd.read_sql(sql=query, con=conn)
    feed_data = feed_data[feed_data["action"] != "like"]
    feed_data.to_csv(f"{DATA_PATH}{FEED_DATA}")

else:
    feed_data = pd.read_csv(f"{DATA_PATH}{FEED_DATA}")

feed_data.head()

   Unnamed: 0            timestamp  user_id  post_id action  target
0           0  2021-12-15 17:55:47   126283     6897   view       1
1           2  2021-12-15 17:57:48   126283     2864   view       0
2           3  2021-12-18 17:21:07   126283     1601   view       0
3           4  2021-12-18 17:23:26   126283      467   view       0
4           5  2021-12-18 17:25:11   126283     2409   view       0

If the user liked the post after viewing, then the `target` variable is equal to 1, else 0. Therefore, those entries where the `action` is equal to `like` can be removed, since they don't carry any additional information.

Here I am going to use content based recommendation system. I will train the model that can predict whether a like will happen or not for a specific timestamp for a pair of `user_id` and `post_id`.

### Feature engineering

So that I want to use the conntent based approach, I need to create feature vectors for each `used_id` and for each `post_id`, concatenate them and put into the model. Also I need to take into account the `timestamp`, because we can't use information from future for predictions (e. g. the total number of likes for a particular `user_id`).

In [8]:
user_info.head()

   user_id  gender  age country               city  exp_group       os source
0      200       1   34  Russia          Degtyarsk          3  Android    ads
1      201       0   37  Russia             Abakan          0  Android    ads
2      202       1   17  Russia           Smolensk          4  Android    ads
3      203       0   18  Russia             Moscow          1      iOS    ads
4      204       0   36  Russia  Anzhero-Sudzhensk          3  Android    ads

I have enough features for users but lets add something new. For example for `user_id` at a certain `timestamp` we can calculate the total number of views, likes and the same statistics grouped by post topics.

In [23]:
# I know about sql injections but here it is just a notebook. 
# In the service it will be implemented differently
# query = """SELECT post_text_df.topic, feed_data.action, COUNT(*)
# FROM feed_data
# LEFT JOIN post_text_df
# ON feed_data.post_id = post_text_df.post_id
# WHERE user_id = {user_id} and "timestamp" < '{timestamp}'
# GROUP BY topic, action
# """

Now, lets extract such statistics for each pair of `user_id` and `timestamp` in the `feed_data` table:

In [9]:
def extract_user_stats(user_id, timestamp):
    all_topics = ["tech", "covid", "movie", "entertainment", 
                  "politics", "sport", "business"]
    all_actions = ["like", "view", "like_view_ratio"]
    all_user_stats = []
    for topic in all_topics:
        for feature in all_actions:
            all_user_stats.append(f"{topic}_{feature}")

    user_act_stats = feed_data.merge(posts_info, how="right", on="post_id") \
                              .query("user_id == @user_id and timestamp < @timestamp") \
                              .groupby(by=["topic", "action"], as_index=False) \
                              .agg({"timestamp": "count", "target": sum}) \
                              .rename(columns={"timestamp": "view", "target": "like"}) \
                              .drop(columns="action") \
                              .set_index("topic")

    for feature in all_actions:
        if feature not in user_act_stats.columns:
            user_act_stats[feature] = 0.0
        for topic in all_topics:
            if topic not in user_act_stats.index:
                user_act_stats.loc[topic, feature] = 0.0
    user_act_stats.fillna(0.0, inplace=True)

    user_stats = {"user_id": user_id}
    user_stats["timestamp"] = timestamp
    user_stats["view"] = user_act_stats["view"].sum()
    user_stats["like"] = user_act_stats["like"].sum()

    for topic in user_act_stats.index:
        for feature in user_act_stats.columns:
            user_stats[f"{topic}_{feature}"] = user_act_stats.loc[topic, feature]

    return user_stats


def extract_all_users_stats(feed_data, limit=None):
    result = []
    for i, (user_id, timestamp) in feed_data[["user_id", "timestamp"]][:limit].iterrows():
        result.append(extract_user_stats(user_id, timestamp))
        print(f"\rProcessing index: {i} out of {feed_data.shape[0]}", end="")
    
    return result

In [10]:
extracted_features = extract_all_users_stats(feed_data)

Processing index: 892971 out of 892972

In [11]:
extracted_features = pd.DataFrame(extracted_features)
extracted_features.to_csv("../data/users_stats.csv", index=False)

In [12]:
extracted_features = pd.read_csv("../data/users_stats.csv")
extracted_features.head()

,user_id,timestamp,view,like,tech_view,tech_like,tech_like_view_ratio,covid_view,covid_like,covid_like_view_ratio,...,entertainment_like_view_ratio,politics_view,politics_like,politics_like_view_ratio,sport_view,sport_like,sport_like_view_ratio,business_view,business_like,business_like_view_ratio
0,126283,2021-12-15 17:55:47,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,126283,2021-12-15 17:57:48,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,126283,2021-12-18 17:21:07,2.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,126283,2021-12-18 17:23:26,3.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,126283,2021-12-18 17:25:11,4.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

Now it is time to create features based on `post` content. Lets use TfIdf as a simple baseline to get embeddings for texts.

In [13]:
posts_info.head()

   post_id                                               text     topic
0        1  UK economy facing major risks\n\nThe UK manufa...  business
1        2  Aids and climate top Davos agenda\n\nClimate c...  business
2        3  Asian quake hits European shares\n\nShares in ...  business
3        4  India power shares jump on debut\n\nShares in ...  business
4        5  Lacroix label bought by US firm\n\nLuxury good...  business